<div class="cc-images-table component unique-{{ unique }}">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded" (window:resize)="onResize()">
            <div *ngFor="let file of files | slice
                  :(pageCurrent - 1) * options.pagination.itemsPerPage
                  :(pageCurrent - 1) * options.pagination.itemsPerPage + options.pagination.itemsPerPage" 
                 class="files" [style]="options.style">
                <cc-file-thumbnail 
                    [file]="file"
                    [options]="options.thumbnail"
                    (onFileDelete)="doOnFileDelete($event)"
                    (onAlert)="doOnAlert($event)">
                </cc-file-thumbnail>
            </div>
            <cc-pagination 
                [items]="files"
                [options]="options.pagination" 
                (onAlert)="doOnAlert($event)" 
                (onPageChange)="doOnPageChange($event)">
            </cc-pagination>
        </div>
    </div>
</div>