.cc-routes-site-home {
}

.cc-routes-site-home .row.main .row {
	margin-bottom: 1em;
}

.cc-routes-site-home .collectibles.widget {
    margin-top: 2em;
}
.cc-routes-site-home .collectibles.widget h3 {
    margin-top: 0;
    padding-top: 0;
}