<div class="cc-routes-admin-home landing-page">
	<div class="inner landing-page-inner">
		<div class="container-fluid">
			<div class="row alerts">
				<div class="col-xs-12">
					<cc-site-alert [alerts]='alerts'></cc-site-alert>
				</div>
			</div>
			<div class="row alerts">
				<div class="col-xs-12">
					<h1>Administration</h1>
				</div>
			</div>
			<div class="row welcome">
				<div class="col-xs-12">
					<div *ngIf="currentUser.user.isRegistered()">
						Welcome {{ currentUser.user.name.first }}
					</div>
				</div>
			</div>
			<div *ngIf="loaded" class="row main">
				<div class="col-xs-12 col-sm-4">
					<div class="row">
						<div class="col-xs-12">
							<cc-users-create-quick [alerts]='alerts'></cc-users-create-quick>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<cc-site-config [alerts]='alerts'></cc-site-config>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="users widget">
						<div class="widget-inner">
							<h3>Recent Users</h3>
							<cc-users-table 
							    [users]="users" 
							    [options]="userTableOptions"
							    (onAlert)="doOnAlert($event)">
							</cc-users-table>
						</div>
					</div>
					<div class="collectibles widget">
						<div class="widget-inner">
							<h3>Recent Collectibles</h3>
							<cc-site-collectibles
							    [options]="collectiblesOptions"
							    (onAlert)="onDoAlert($event)">
							</cc-site-collectibles>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
