.cc-files-upload {
}
.cc-files-upload .container-fluid { 
    padding-left: 0;
    padding-right: 0;
}
.cc-files-upload input.form-control {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.cc-files-upload input.form-control + label {
    font-size: 1.25em;
    color: #888888;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.cc-files-upload input.form-control:focus + label,
.cc-files-upload input.form-control + label:hover {
    background: linear-gradient(to bottom: #f0f0f0, #a0f0a0);
}
.cc-files-upload input.form-control + label {
    cursor: pointer;
}
.cc-files-upload input.form-control:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
