.cc-collectible-edit {
    position: relative;
}
.cc-collectible-edit textarea {
    height: 6em;
}
.cc-collectible-edit .col-xs-12.upload {
    margin-top: 0.5em;
}
.cc-collectible-edit .row.save {
    margin-top: 0.5em;
}
.cc-collectible-edit span.fa.fa-check {
    color: #00ff00;
    text-shadow: 4px 4px 8px #000000;
}
.cc-collectible-edit span.fa.fa-remove {
    color: #ff0000;
    text-shadow: 4px 4px 8px #000000;
}
