.cc-users-thumbnail {

}
.cc-users-thumbnail .inner {
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: hidden;
}
.cc-users-thumbnail .fail span {
    display: inline-block;
    padding-top: 0.05em;
    color: #000000;
    font-size: 6.9em;
    opacity: 0.05;
}
.cc-users-thumbnail .loaded {
    position: relative;
    height: 100%;
    width: 100%;
}
.cc-users-thumbnail .loaded img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.cc-users-thumbnail .loaded .modal img {
    height: initial;
    width: initial;
}
.cc-users-thumbnail .loaded img:hover + .btn {
    opacity: 0.5;
}
.cc-users-thumbnail .loaded .btn {
    padding: 0;
    font-size: 0.5em;
    line-height: 1.5em;
    width: 2em;
    height: 1.8em;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    opacity: 0.05;
    border-radius: 2px;
}
.cc-users-thumbnail .loaded .btn span {
    line-height: 1.5em;
}
.cc-users-thumbnail .loaded .btn:hover {
    opacity: 1;
}
