<div class="cc-users-thumbnail component">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <a routerLink="/u/{{ user.url }}"><img src="{{ file.url }}" /></a>
        </div>
    </div>
</div>
