<div class="cc-file-thumbnail component {{ unique }}">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <div *ngIf="resizedUrl.length">
                <img src="{{ resizedUrl }}" class="img-responsive" (click)="click()" />
            </div>
            <div *ngIf="authorized" class="btn btn-danger delete">
                <span class="fa fa-close" (click)="delete()"></span>
            </div>
            <div class="modal fade modal-{{ unique }}" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ file.baseUrl }}/{{ file.name }}" class="img-responsive">
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
