<div class="cc-users-table component">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded" (window:resize)="onResize()">
            <div *ngFor="let user of users | slice
                  :(pageCurrent - 1) * options.pagination.itemsPerPage
                  :(pageCurrent - 1) * options.pagination.itemsPerPage + options.pagination.itemsPerPage" 
                 class="users">
                <cc-users-thumbnail 
                    [user]="user"
                    [options]="options.thumbnail"
                    (onAlert)="doOnAlert($event)">
                </cc-users-thumbnail>
            </div>
            <cc-pagination 
                [items]="users"
                [options]="options.pagination" 
                (onAlert)="doOnAlert($event)" 
                (onPageChange)="doOnPageChange($event)">
            </cc-pagination>
        </div>
    </div>
</div>
