<div class="cc-collectible-full component">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <div *ngIf="success == true" class="success">
                <div class="cc-table">
                    <div class="cc-table-cell">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="media">
                            <div class="media-left">
                                <cc-images-table 
                                    [files]="collectible.files" 
                                    [options]="tableOptions"
                                    (onAlert)="doOnAlert($event)">
                                </cc-images-table>
                            </div>
                            <div class="media-body">
                                <h1 class="media-heading">{{ collectible.name }}</h1>
                                <p class="cc-description">{{ collectible.description }}</p>
                                <p class="cc-links">
                                    [ <a routerLink="/u/{{ collectible.user.url }}">{{ collectible.user.alias || collectible.user.email }}</a> ]
                                </p>
                                <p *ngIf="(currentUser.user._id == collectible.userId) || currentUser.user.isAdmin()" class="cc-links">
                                    [ <a routerLink="{{ collectible.absoluteUrl }}/edit">Edit</a> ]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
