.cc-collectible-full {
    
}
.cc-collectible-full .media-left {
    text-align: center;
    min-width: 10em;
    width: 50%;
}
.cc-collectible-full .media-body {
    padding-left: 2em;
}
.cc-collectible-full .media-body h1 {
    text-transform: capitalize;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.cc-collectible-full .media-body p.cc-links {

}
.cc-collectible-full .media-body p.cc-description {
    font-size: 1.25em;
}
@media screen and (max-width: 480px) {
    .cc-collectible-full .media-left {
        display: block;
        width: 100%;
        text-align: center;
    }
    .cc-collectible-full .media-body {
        padding-top: 1em;
    }
}