.cc-routes-users-profile {
	
}
.cc-routes-users-profile img {
	max-width: 10em;
}
.cc-routes-users-profile .row.files {
    margin-top: 1em;
}
.cc-routes-users-profile .row.collectibles {
    margin-top: 2em;
}
.cc-routes-users-profile .row.collectibles h3 {
    margin-top: 0;
    padding-top: 0;
}