<div class="cc-routes-users-profile landing-page">
	<div class="inner landing-page-inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12"><cc-site-alert [alerts]='alerts'></cc-site-alert></div>
			</div>
	        <div *ngIf="working == true && loaded == false" class="loading">
	            <span class="fa fa-spinner fa-spin"></span>
	        </div>
	        <div *ngIf="working == false && loaded == false" class="fail">
	            <span class="fa fa-picture-o"></span>
	        </div>
	        <div *ngIf="working == false && loaded == true" class="loaded">
				<div class="row">
					<div class="col-xs-4">
						<cc-users-tile
						    [user]="user" 
						    [options]="tileOptions"
						    (onAlert)="doOnAlert($event)">
						</cc-users-tile>
					</div>
					<div class="col-xs-8">
						{{ user.profile }}
					</div>
				</div>
				<div class="row files">
					<div class="col-xs-12">
						<cc-user-images 
							[user]="user" 
							[options]="userImagesOptions" 
							(onAlert)="onDoAlert($event)">
						</cc-user-images>
					</div>
				</div>
				<div class="row collectibles">
					<div class="col-xs-12">
						<div class="widget">
							<div class="widget-inner">
								<h3>{{ (this.user.alias || this.user.email) + '\'s Recent Collectibles' }}:</h3>
								<cc-user-collectibles
								    [user]="user" 
								    [options]="collectiblesOptions"
								    (onAlert)="onDoAlert($event)">
								</cc-user-collectibles>
							</div>
						</div>
					</div>
				</div>
	        </div>
		</div>
	</div>
</div>